<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
        xmlns:th="http://www.thymeleaf.org">

<head>
    <title data-th-text="${loggedInUser.name}">Profile Page</title>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
            rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" data-th-href="@{'output.css'}" />
</head>
<body>
<div id="content" class="pl-64 pt-20" style="height: 1000px">
    <h1>Welcome to profile page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
        ratione!
    </p>
</div>
<script>
    console.log("profile page");
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>